.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #3b0062;
}

.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
}

.single-post h2:nth-child(3) {
  border-bottom: 2px solid #464646;
}

.single-post__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}

.single-post-actions {
  text-align: center;
}

.likers-box {
  width: 40rem;
  border-radius: 5px;
  border: 1px solid #3b0062;
  margin: 0 auto;
}

.likers-box h2 {
  font-size: 1rem;
  color: #464646;
}

.likers-box div {
  display: flex;
  column-gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
}

textarea {
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
  margin: 1rem auto;
  width: 40rem;
  resize: none;
  border-radius: 5px;
}

.button-placement {
  text-align: center;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}